.form-outline {
  padding: 10px;
}
form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.label-outline {
  color: lightslategray;
  margin: 5px;
  font-size: 22px;
}
.input-outline {
  width: 44px;
  margin: 5px;
  padding: 10px;
  border: 2px solid lightblue;
  border-radius: 5px;
  font-size: large;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.144),
    0 6px 20px 0 rgba(0, 0, 0, 0.089);
}
