<div class="form-outline">
  <form [formGroup]="cardForm">
    <label class="label-outline">Card Number<sup>*</sup></label>
    <div style="display: flex;">
      <span *ngFor="let count of inputField; let i = index">
        <input
          type="text"
          [formControlName]="'f' + (i + 1)"
          #field
          (keyup)="onKeyUp($event, i + 1)"
          (paste)="onPaste($event)"
          class="input-outline"
          [maxlength]="acceptableDigitCount"
          numbersOnly
        />
      </span>
    </div>
  </form>
</div>
